/******************************************************************
  Template Name: Manup
  Description: Manup Event HTML Template
  Author: Colorlib
  Author URI: http://colorlib.com
  Version: 1.0
  Created: Colorlib
******************************************************************/

/*------------------------------------------------------------------
[Table of contents]

1.  Template default CSS
	1.1	Variables
	1.2	Mixins
	1.3	Flexbox
	1.4	Reset
2.  Helper Css
3.  Header Section
4.  Hero Section
5.  Home About Section
6.  Team Member Section
7.  Pricing Section
8.  Latest Blog Section
9.  Contact
10.  Footer Style

-------------------------------------------------------------------*/

/*----------------------------------------*/

/* Template default CSS
/*----------------------------------------*/
.post-sm-entry figure {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 150px;
	flex: 0 0 110px; }
	.post-sm-entry figure img {
	  max-width: 100%;
	  -webkit-transition: .3s all ease;
	  -o-transition: .3s all ease;
	  transition: .3s all ease; }
  
  .post-sm-entry h2 {
	font-size: 1rem;
	line-height: 1.4;
	font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	color: #000; }
  
  .post-sm-entry:hover img {
	opacity: .5; }
  
  .post-category {
	display: inline-block;
	padding: 2px 10px;
	border-radius: 4px;
	letter-spacing: .2em;
	font-weight: 700;
	font-size: .6rem;
	text-transform: uppercase; }
  
  .bg-image2, .retro-layout .img-1, .retro-layout .img-2 {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat; }
  
  @media (max-width: 767.98px) {
	.retro-layout .img-1 {
	  height: 400px !important;
	  position: relative;
	  margin-bottom: 30px; } }
  
  .retro-layout .mb30 {
	margin-bottom: 30px; }
  
  .retro-layout .hentry {
	display: block;
	position: relative;
	border-radius: 4px;
	overflow: hidden; }
  
  .retro-layout .gradient {
	position: relative; }
	.retro-layout .gradient:before {
	  z-index: 1;
	  content: '';
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
	  background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
	  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
	  background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
	  background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); }
  
  .retro-layout .post-category {
	margin-left: 20px;
	margin-top: 10px; }
  
  .retro-layout .v-height {
	height: 300px; }
  
  .retro-layout .text {
	position: absolute;
	bottom: 0;
	z-index: 10;
	padding: 20px;
	max-width: 350px; }
	.retro-layout .text h2 {
	  color: #fff;
	  font-size: 26px; }
	.retro-layout .text span {
	  color: rgba(255, 255, 255, 0.5); }
	.retro-layout .text.text-sm h2 {
	  font-size: 18px;
	  line-height: 1.5; }
  
  .retro-layout .two-col > a {
	width: calc(50% - 15px);
	float: left; }
	@media (max-width: 767.98px) {
	  .retro-layout .two-col > a {
		width: 100% !important;
		float: none !important;
		margin-bottom: 30px; } }
  
  .entry2 img {
	margin-bottom: 30px; }
  
  .entry2 h2 {
	font-size: 24px;
	margin-bottom: 30px;
	font-weight: 700; }
	.entry2 h2 a {
	  color: #000; }
  
  .entry2 .post-meta {
	color: #b3b3b3;
	font-size: 13px;
	width: 100%;
	display: block; }
	.entry2 .post-meta a {
	  color: #000; }
	.entry2 .post-meta .author-figure img {
	  width: 30px;
	  border-radius: 50%; }
  
  .entry3, .entry4 {
	margin-bottom: 30px; }
	.entry3 .text h2, .entry4 .text h2 {
	  font-size: 18px;
	  line-height: 1.5;
	  font-weight: 700; }
	  .entry3 .text h2 a, .entry4 .text h2 a {
		color: #000; }
	.entry3 .figure, .entry4 .figure {
	  -webkit-box-flex: 0;
	  -ms-flex: 0 0 150px;
	  flex: 0 0 150px;
	  -webkit-transition: .3s all ease;
	  -o-transition: .3s all ease;
	  transition: .3s all ease;
	  opacity: 1; }
	.entry3:hover figure, .entry3:focus figure, .entry4:hover figure, .entry4:focus figure {
	  opacity: .5; }
  
  .entry4 {
	margin-bottom: 30px; }
	.entry4 .text h2 {
	  font-size: 16px;
	  line-height: 1.5;
	  font-weight: 700; }
	  .entry4 .text h2 a {
		color: #000; }
	.entry4 .figure {
	  -webkit-box-flex: 0;
	  -ms-flex: 0 0 100px;
	  flex: 0 0 100px; }
  
  .blog-entries .blog-entry {
	display: block;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
	margin-bottom: 30px;
	position: relative; }
	.blog-entries .blog-entry:hover, .blog-entries .blog-entry:focus {
	  opacity: .7;
	  top: -1px;
	  -webkit-box-shadow: 0 3px 50px -2px rgba(0, 0, 0, 0.2) !important;
	  box-shadow: 0 3px 50px -2px rgba(0, 0, 0, 0.2) !important; }
	.blog-entries .blog-entry .blog-content-body {
	  padding: 20px;
	  border: 1px solid #efefef;
	  border-top: none; }
	.blog-entries .blog-entry img {
	  max-width: 100%; }
	.blog-entries .blog-entry h2 {
	  font-size: 18px;
	  line-height: 1.5; }
	.blog-entries .blog-entry p {
	  font-size: 13px;
	  color: gray; }
  
  .blog-entries .post-meta {
	margin-bottom: 20px;
	font-size: 14px;
	color: #b3b3b3; }
	.blog-entries .post-meta .author img {
	  width: 30px;
	  border-radius: 50%;
	  display: inline-block; }
  
  
  .post-entry-horzontal {
	margin-bottom: 10px; }
	.post-entry-horzontal a {
	  overflow: hidden;
	  display: table;
	  position: relative;
	  top: 0;
	  -webkit-transition: .3s all ease;
	  -o-transition: .3s all ease;
	  transition: .3s all ease; }
	  .post-entry-horzontal a .image, .post-entry-horzontal a .text {
		display: table-cell;
		vertical-align: middle; }
		@media (max-width: 767.98px) {
		  .post-entry-horzontal a .image, .post-entry-horzontal a .text {
			display: block; } }
	  .post-entry-horzontal a .image {
		width: 200px;
		background-size: cover;
		background-position: center center; }
		@media (max-width: 767.98px) {
		  .post-entry-horzontal a .image {
			width: 100%;
			height: 200px; } }
	  .post-entry-horzontal a .text {
		padding: 30px;
		width: calc(100 - 200px);
		border: 1px solid #e6e6e6;
		border-left: none; }
		@media (max-width: 767.98px) {
		  .post-entry-horzontal a .text {
			width: 100%;
			height: 200px;
			border: 1px solid #e6e6e6;
			border-top: none; } }
		.post-entry-horzontal a .text h2 {
		  font-size: 20px; }
		.post-entry-horzontal a .text p {
		  color: #999999;
		  margin-bottom: 30px; }
	  .post-entry-horzontal a:hover {
		top: -3px;
		-webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1); }
  
  
html,
body {
	height: 100%;
	font-family: "Work Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Work Sans", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	font-family: "Work Sans", sans-serif;
	color: #6a6b7c;
	font-weight: 400;
	line-height: 28px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	text-align: center;
	margin-bottom: 20px;
}

.section-title h2 {
	font-size: 40px;
	font-weight: 700;
	color: #171822;
	margin-bottom: 10px;
}

.section-title p {
	font-size: 18px;
	color: #6a6b7c;
	margin-bottom: 0;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.spad-2 {
	padding-top: 50px;
	padding-bottom: 70px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

.bg-gradient,
.bd-text .bd-tag-share .s-share a:hover,
.bh-text .play-btn,
.schedule-table-tab .nav-tabs .nav-item .nav-link.active,
.newslatter-inner .ni-form button,
.latest-item .li-tag,
.price-item .price-btn:hover,
.price-item .pi-price,
.price-item .tr-tag,
.schedule-tab .nav-tabs .nav-item .nav-link.active,
.site-btn {
	background-image: -o-linear-gradient(330deg, #ee8425 0%, #f9488b 100%), -o-linear-gradient(330deg, #ee8425 0%, #f9488b 100%);
	background-image: linear-gradient(120deg, #ee8425 0%, #f9488b 100%), linear-gradient(120deg, #ee8425 0%, #f9488b 100%);
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	padding: 12px 40px;
	color: #ffffff;
	text-align: center;
	border-radius: 50px;
	background-image: -webkit-gradient(linear, left top, right top, from(#ee8425), to(#f9488b)), -webkit-gradient(linear, left top, right top, from(#ee8425), to(#f9488b));
	background-image: -o-linear-gradient(left, #ee8425 0%, #f9488b 100%), -o-linear-gradient(left, #ee8425 0%, #f9488b 100%);
	background-image: linear-gradient(to right, #ee8425 0%, #f9488b 100%), linear-gradient(to right, #ee8425 0%, #f9488b 100%);
}

.site-btn {
	font-size: 16px;
	color: #ffffff;
	font-weight: 600;
	border: none;
	padding: 10px 40px 12px;
	border-radius: 50px;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/*---------------------
  Header
-----------------------*/

.header-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.header-section.header-normal {
	border-bottom: 1px solid #e5e5e5;
}

.logo {
	float: left;
	padding-top: 36px;
	padding-bottom: 37px;
}

.logo a {
	display: inline-block;
}

.nav-menu {
	float: right;
}

.nav-menu .mainmenu {
	display: inline-block;
}

.nav-menu .mainmenu ul li {
	display: inline-block;
	list-style: none;
	margin-right: 40px;
	position: relative;
}

.nav-menu .mainmenu ul li .dropdown {
	position: absolute;
	width: 180px;
	background: #ffffff;
	z-index: 99;
	left: 0;
	top: 130px;
	opacity: 0;
	visibility: hidden;
	-webkit-box-shadow: 4px 13px 30px rgba(0, 0, 0, 0.15);
	box-shadow: 4px 13px 30px rgba(0, 0, 0, 0.15);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-menu .mainmenu ul li .dropdown li {
	display: block;
	margin-right: 0;
}

.nav-menu .mainmenu ul li .dropdown li a {
	padding: 8px 10px;
	display: block;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	text-transform: capitalize;
}

.nav-menu .mainmenu ul li .dropdown li a:hover {
	color: #f44949;
}

.nav-menu .mainmenu ul li .dropdown li a:after {
	display: none;
}

.nav-menu .mainmenu ul li.active a:after {
	opacity: 1;
}

.nav-menu .mainmenu ul li:hover>a:after {
	opacity: 1;
}

.nav-menu .mainmenu ul li:hover .dropdown {
	opacity: 1;
	visibility: visible;
	top: 100px;
}

.nav-menu .mainmenu ul li a {
	font-size: 16px;
	color: #171822;
	text-transform: uppercase;
	font-weight: 600;
	padding: 42px 0;
	position: relative;
	display: inline-block;
}

.nav-menu .mainmenu ul li a:after {
	position: absolute;
	left: 0;
	bottom: 36px;
	height: 2px;
	width: 100%;
	background: #F44949;
	content: "";
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-menu .primary-btn.top-btn {
	margin: 27px 0;
}

.slicknav_menu {
	display: none;
}

/*---------------------
  Hero
-----------------------*/

.hero-section {
	padding-top: 55px;
}

.hero-section .hero-text {
	padding-top: 184px;
}

.hero-section .hero-text span {
	font-size: 16px;
	color: #f44949;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.hero-section .hero-text h2 {
	font-size: 60px;
	color: #ffffff;
	line-height: 72px;
	font-weight: 600;
	margin-top: 24px;
	margin-bottom: 35px;
}

/*---------------------
  Conter
-----------------------*/

.counter-section {
	padding: 40px 0;
}

.counter-section .counter-text span {
	font-size: 16px;
	color: #ffffff;
}

.counter-section .counter-text h3 {
	color: #ffffff;
	font-weight: 700;
	line-height: 38px;
	margin-top: 10px;
}

.counter-section .cd-timer {
	text-align: right;
}

.counter-section .cd-timer .cd-item {
	display: inline-block;
	text-align: center;
	margin-left: 35px;
	height: 120px;
	width: 120px;
	padding-top: 32px;
	position: relative;
}

.counter-section .cd-timer .cd-item:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #ffffff;
	content: "";
	opacity: 0.1;
	border-radius: 4px;
}

.counter-section .cd-timer .cd-item:first-child {
	margin-left: 0;
}

.counter-section .cd-timer .cd-item span {
	font-size: 60px;
	color: #ffffff;
	font-weight: 600;
	line-height: 30px;
}

.counter-section .cd-timer .cd-item p {
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 0;
	line-height: 30px;
}

/*---------------------
  Home About Section
-----------------------*/

.home-about-section {
	padding-bottom: 90px;
}

.ha-pic {
	-webkit-box-shadow: 0px 0px 30px rgba(11, 12, 48, 0.15);
	box-shadow: 0px 0px 30px rgba(11, 12, 48, 0.15);
	margin-right: 5px;
}

.ha-pic img {
	min-width: 100%;
	border-radius: 2px;
}

.ha-text {
	padding-top: 30px;
}

.service-item {
	position: relative;
	padding-left: 80px;
  }
  
  .service-item i {
	position: absolute;
	left: 0px;
	top: 5px;
	font-size: 50px;
	opacity: .4;
  }

.ha-text h2 {
	color: #171822;
	font-size: 10px;
	font-weight: 700;
	margin-bottom: 20px;
}

.ha-text p {
	margin-bottom: 21px;
}

.ha-text ul {
	margin-bottom: 27px;
}

.ha-text ul li {
	list-style: none;
	font-size: 16px;
	line-height: 30px;
	color: #6a6b7c;
}

.ha-text ul li span {
	color: #f44949;
}

.ha-text .ha-btn {
	font-size: 16px;
	color: #171822;
	font-weight: 600;
	position: relative;
}

.ha-text .ha-btn:before {
	position: absolute;
	left: 0;
	bottom: -6px;
	height: 2px;
	width: 100%;
	background: #f44949;
	content: "";
}

/*---------------------
  Member Item
-----------------------*/

.team-member-section {
	overflow: hidden;
}

.member-item {
	width: 20%;
	float: left;
	height: 420px;
	position: relative;
	overflow: hidden;
}

.member-item:hover .mi-social {
	top: 0;
}

.member-item:hover .mi-text {
	left: 20px;
}

.member-item .mi-social {
	text-align: center;
	position: relative;
	top: -60px;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.member-item .mi-social .mi-social-inner {
	display: inline-block;
	padding: 10px 23px 8px;
	border-radius: 0 0 4px 4px;
}

.member-item .mi-social .mi-social-inner a {
	display: inline-block;
	font-size: 18px;
	color: #ffffff;
	margin-right: 10px;
}

.member-item .mi-social .mi-social-inner a:last-child {
	margin-right: 0;
}

.member-item .mi-text {
	background: #ffffff;
	padding: 16px 0 18px 25px;
	position: absolute;
	left: -500px;
	bottom: 20px;
	width: calc(100% - 40px);
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.member-item .mi-text h5 {
	font-size: 20px;
	color: #171822;
	font-weight: 600;
	margin-bottom: 5px;
}

.member-item .mi-text span {
	font-size: 16px;
	color: #f44949;
	display: block;
}

/*---------------------
  Schedule Section
-----------------------*/

.schedule-section {
	padding-bottom: 60px;
}

.schedule-tab .nav-tabs {
	border: none;
	border-radius: 2px;
	margin-bottom: 60px;
	-webkit-box-shadow: 3px 10px 30px rgba(74, 74, 77, 0.15);
	box-shadow: 3px 10px 30px rgba(74, 74, 77, 0.15);
}

.schedule-tab .nav-tabs .nav-item {
	border-right: 1px solid #e7e7e8;
	width: 20%;
	text-align: center;
}

.schedule-tab .nav-tabs .nav-item:last-child {
	border-right: none;
}

.schedule-tab .nav-tabs .nav-item .nav-link {
	padding: 14px 0 13px 0;
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.schedule-tab .nav-tabs .nav-item .nav-link.active {
	border-radius: 2px;
	border-color: #e7e7e8;
}

.schedule-tab .nav-tabs .nav-item .nav-link.active h5 {
	color: #ffffff;
}

.schedule-tab .nav-tabs .nav-item .nav-link.active p {
	color: #ffffff;
}

.schedule-tab .nav-tabs .nav-item .nav-link h5 {
	color: #171822;
	font-weight: 600;
}

.schedule-tab .nav-tabs .nav-item .nav-link p {
	margin-bottom: 0;
}

.schedule-tab .st-content {
	border: 1px solid #ebebeb;
	border-radius: 2px;
	margin-bottom: 40px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.schedule-tab .st-content:hover {
	-webkit-box-shadow: 3px 12px 30px rgba(23, 24, 34, 0.05);
	box-shadow: 3px 12px 30px rgba(23, 24, 34, 0.05);
	border: 1px solid transparent;
}

.schedule-tab .st-content .sc-pic {
	text-align: center;
	padding: 30px 0;
}

.schedule-tab .st-content .sc-pic img {
	height: 120px;
	width: 120px;
	border-radius: 50%;
}

.schedule-tab .st-content .sc-text {
	padding: 58px 0;
}

.schedule-tab .st-content .sc-text h4 {
	color: #171822;
	font-weight: 600;
	margin-bottom: 10px;
}

.schedule-tab .st-content .sc-text ul li {
	list-style: none;
	display: inline-block;
	font-size: 16px;
	color: #6a6b7c;
	margin-right: 25px;
	position: relative;
}

.schedule-tab .st-content .sc-text ul li:last-child:after {
	display: none;
}

.schedule-tab .st-content .sc-text ul li:after {
	position: absolute;
	right: -18px;
	top: 0;
	content: "/";
}

.schedule-tab .st-content .sc-text ul li i {
	color: #f44949;
	font-size: 14px;
}

.schedule-tab .st-content .sc-widget {
	padding: 58px 0;
}

.schedule-tab .st-content .sc-widget li {
	list-style: none;
	font-size: 16px;
	color: #6a6b7c;
	line-height: 32px;
	position: relative;
	padding-left: 22px;
}

.schedule-tab .st-content .sc-widget li i {
	color: #f44949;
	position: absolute;
	left: 0;
	top: 7px;
}

/*---------------------
  Pricing Section
-----------------------*/

.pricing-section {
	padding-top: 90px;
	padding-bottom: 80px;
}

.pricing-section .section-title {
	margin-bottom: 88px;
}

.pricing-section .section-title h2 {
	color: #ffffff;
}

.pricing-section .section-title p {
	color: #a0a1b5;
}

.price-item {
	background: #ffffff;
	text-align: center;
	padding-top: 34px;
	padding-bottom: 18px;
	position: relative;
	border-radius: 2px;
	margin-bottom: 40px;
}

.price-item.top-rated {
	margin-top: -36px;
}

.price-item .tr-tag {
	width: 28px;
	height: 50px;
	line-height: 38px;
	-webkit-clip-path: polygon(100% 0%, 100% 100%, 50% 65%, 0% 100%, 0% 0%);
	clip-path: polygon(100% 0%, 100% 100%, 50% 65%, 0% 100%, 0% 0%);
	position: absolute;
	right: 26px;
	top: 0;
}

.price-item .tr-tag i {
	color: #ffffff;
}

.price-item h4 {
	color: #171822;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 26px;
}

.price-item .pi-price {
	padding-top: 16px;
	padding-bottom: 14px;
	margin-bottom: 38px;
}

.price-item .pi-price h2 {
	font-size: 60px;
	color: #ffffff;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	display: inline-block;
	position: relative;
	padding-left: 20px;
}

.price-item .pi-price h2 span {
	font-size: 30px;
	position: absolute;
	left: 0px;
	top: 9px;
}

.price-item ul li {
	list-style: none;
	font-size: 16px;
	color: #6a6b7c;
	line-height: 38px;
}

.price-item .price-btn {
	font-size: 16px;
	color: #171822;
	font-weight: 600;
	display: inline-block;
	background: #ffffff;
	padding: 10px 85px;
	border-radius: 50px;
	-webkit-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
	position: relative;
	bottom: -39px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.price-item .price-btn:hover {
	color: #ffffff;
}

.price-item .price-btn:hover span {
	color: #ffffff;
}

.price-item .price-btn span {
	color: #f44949;
	position: relative;
	top: 3px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

/*---------------------
  Latest Blog
-----------------------*/

.latest-blog {
	background: #f4f6f8;
	padding-bottom: 160px;
}

.latest-item {
	height: 255px;
	position: relative;
	margin-bottom: 40px;
	margin-left: 15px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 30px rgba(79, 84, 139, 0.15);
	box-shadow: 0px 0px 30px rgba(79, 84, 139, 0.15);
}

.latest-item.large-item {
	height: 550px;
	margin-right: 15px;
	margin-left: 0;
}

.latest-item.large-item .li-tag {
	left: 40px;
	top: 40px;
}

.latest-item.large-item .li-text {
	padding: 0 40px;
	bottom: 35px;
}

.latest-item.large-item .li-text h4 {
	margin-bottom: 17px;
}

.latest-item.large-item .li-text h4 a {
	color: #ffffff;
	font-weight: 600;
	line-height: 36px;
}

.latest-item.large-item .li-text span {
	font-size: 16px;
	color: #ffffff;
}

.latest-item.large-item .li-text span i {
	color: #f44949;
}

.latest-item .li-tag {
	font-size: 14px;
	color: #ffffff;
	display: inline-block;
	padding: 5px 18px;
	border-radius: 2px;
	position: absolute;
	left: 30px;
	top: 30px;
}

.latest-item .li-text {
	position: absolute;
	left: 0;
	bottom: 26px;
	width: 100%;
	padding: 0 30px;
}

.latest-item .li-text h5 {
	margin-bottom: 5px;
}

.latest-item .li-text h5 a {
	display: block;
	color: #ffffff;
	font-weight: 600;
	line-height: 30px;
}

.latest-item .li-text span {
	font-size: 14px;
	color: #ffffff;
}

.latest-item .li-text span i {
	color: #f44949;
}

/*---------------------
  Newslatter Section
-----------------------*/

.newslatter-section.about-newslatter .newslatter-inner {
	margin-top: 0;
}

.newslatter-inner {
	padding: 60px 70px 48px;
	overflow: hidden;
	border-radius: 2px;
	margin-top: -100px;
}

.newslatter-inner .ni-text {
	float: left;
}

.newslatter-inner .ni-text h3 {
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 8px;
}

.newslatter-inner .ni-text p {
	color: #ffffff;
	margin-bottom: 0;
}

.newslatter-inner .ni-form {
	width: 400px;
	position: relative;
	float: right;
	margin-top: 12px;
}

.newslatter-inner .ni-form input {
	width: 100%;
	height: 50px;
	font-size: 16px;
	color: #a0a1b5;
	padding-left: 20px;
	background: #ffffff;
	border-radius: 50px;
	border: none;
	padding-right: 140px;
}

.newslatter-inner .ni-form input::-webkit-input-placeholder {
	color: #a0a1b5;
}

.newslatter-inner .ni-form input::-moz-placeholder {
	color: #a0a1b5;
}

.newslatter-inner .ni-form input:-ms-input-placeholder {
	color: #a0a1b5;
}

.newslatter-inner .ni-form input::-ms-input-placeholder {
	color: #a0a1b5;
}

.newslatter-inner .ni-form input::placeholder {
	color: #a0a1b5;
}

.newslatter-inner .ni-form button {
	width: 128px;
	height: 40px;
	text-align: center;
	border: none;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	border-radius: 50px;
	position: absolute;
	right: 5px;
	top: 5px;
}

/*---------------------
  Home Contact 
-----------------------*/

#contact {
	padding: 60px 0;
  }
  #contact .contact-info {
	margin-bottom: 20px;
	text-align: center;
  }
  #contact .contact-info i {
	font-size: 48px;
	display: inline-block;
	margin-bottom: 10px;
	color: #f82249;
  }
  #contact .contact-info address, #contact .contact-info p {
	margin-bottom: 0;
	color: #112363;
  }
  #contact .contact-info h3 {
	font-size: 18px;
	margin-bottom: 15px;
	font-weight: bold;
	text-transform: uppercase;
	color: #112363;
  }
  #contact .contact-info a {
	color: #4869df;
  }
  #contact .contact-info a:hover {
	color: #f82249;
  }
  #contact .contact-address, #contact .contact-phone, #contact .contact-email {
	margin-bottom: 20px;
  }
  @media (min-width: 768px) {
	#contact .contact-address, #contact .contact-phone, #contact .contact-email {
	  padding: 20px 0;
	}
  }
  @media (min-width: 768px) {
	#contact .contact-phone {
	  border-left: 1px solid #ddd;
	  border-right: 1px solid #ddd;
	}
  }
  #contact .php-email-form .error-message {
	display: none;
	color: #fff;
	background: #ed3c0d;
	text-align: left;
	padding: 15px;
	font-weight: 600;
  }
  #contact .php-email-form .error-message br + br {
	margin-top: 25px;
  }
  #contact .php-email-form .sent-message {
	display: none;
	color: #fff;
	background: #18d26e;
	text-align: center;
	padding: 15px;
	font-weight: 600;
  }
  #contact .php-email-form .loading {
	display: none;
	background: #fff;
	text-align: center;
	padding: 15px;
  }
  #contact .php-email-form .loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #18d26e;
	border-top-color: #eee;
	-webkit-animation: animate-loading 1s linear infinite;
	animation: animate-loading 1s linear infinite;
  }
  #contact .php-email-form input, #contact .php-email-form textarea {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
  }
  #contact .php-email-form input:focus, #contact .php-email-form textarea:focus {
	border-color: #f82249;
  }
  #contact .php-email-form input {
	padding: 10px 15px;
  }
  #contact .php-email-form textarea {
	padding: 12px 15px;
  }
  #contact .php-email-form button[type=submit] {
	background: #f82249;
	border: 0;
	padding: 10px 40px;
	color: #fff;
	transition: 0.4s;
	border-radius: 50px;
	cursor: pointer;
  }
  #contact .php-email-form button[type=submit]:hover {
	background: #e0072f;
  }
  @-webkit-keyframes animate-loading {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  @keyframes animate-loading {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  
/*---------------------
  Footer
-----------------------*/

.section {
	padding: 100px 0;
  }
  
  .section-sm {
	padding: 70px 0;
  }
  
  .section-title {
	margin-bottom: 70px;
  }
  
  .section-title .title {
	font-size: 50px;
	line-height: 50px;
  }
  
  .section-title p {
	color: #666;
	font-family: "Poppins", sans-serif;
  }

.partner-logo {
	padding-bottom: 50px;
	border-bottom: 1px solid #2f3039;
}

.partner-logo .pl-table {
	display: inline-block;
	display: table;
}

.partner-logo .pl-table .pl-tablecell {
	display: table-cell;
	vertical-align: middle;
	height: 41px;
}

.footer {
	padding-bottom: 10px;
  }
  
  .footer .copyright a {
	font-weight: 600;
  }
  
  .lh-35 {
	line-height: 35px;
  }
  
  .logo {
	color: #242424;
	font-weight: 600;
	letter-spacing: 1px;
  }
  
  .logo span {
	color: #f75757;
  }
  
  .sub-form {
	position: relative;
  }
  
  .sub-form .form-control {
	border: 1px solid rgba(0, 0, 0, 0.06);
	background: #f5f8f9;
  }
  
  .footer-btm {
	border-top: 1px solid rgba(0, 0, 0, 0.06);
  }
  
  .footer-socials li a {
	margin-left: 15px;
  }
  
/* ----------------------------------- Other Pages Styles ------------------------------- */

/*---------------------
  Breadcrumb
-----------------------*/

.breadcrumb-section {
	padding: 75px 0 75px;
}

.breadcrumb-text {
	text-align: center;
}

.breadcrumb-text h2 {
	font-size: 40px;
	color: #171822;
	font-weight: 600;
	margin-bottom: 14px;
}

.breadcrumb-text .bt-option a {
	font-size: 18px;
	color: #6a6b7c;
	display: inline-block;
	margin-right: 25px;
	position: relative;
}

.breadcrumb-text .bt-option a:after {
	position: absolute;
	right: -17px;
	top: 2px;
	content: "";
	font-family: "FontAwesome";
}

.breadcrumb-text .bt-option span {
	display: inline-block;
	color: #a0a1b5;
}

/*---------------------
  About Section
-----------------------*/

.about-section {
	padding-top: 0;
	padding-bottom: 90px;
}

.about-section .section-title {
	text-align: left;
}

.about-section .section-title h2 {
	margin-bottom: 20px;
}

.about-section .section-title p {
	font-size: 16px;
}

.about-section .section-title p.f-para {
	margin-bottom: 20px;
}

.about-pic {
	-webkit-box-shadow: 0px 0px 30px rgba(11, 12, 48, 0.15);
	box-shadow: 0px 0px 30px rgba(11, 12, 48, 0.15);
}

.about-pic img {
	min-width: 100%;
}

.about-text {
	padding-top: 20px;
}

.about-text h3 {
	color: #171822;
	font-weight: 600;
	margin-bottom: 25px;
}

.about-text p {
	margin-bottom: 20px;
}

.about-text ul li {
	font-size: 16px;
	color: #6a6b7c;
	line-height: 30px;
	list-style: none;
}

.about-text ul li span {
	color: #f44949;
}

/*---------------------
  Story Section
-----------------------*/

.story-section {
	padding-bottom: 30px;
}

.story-section .section-title {
	text-align: left;
}

.story-section .section-title h2 {
	margin-bottom: 0;
}

.story-left {
	padding-right: 40px;
}

.story-right {
	padding-left: 40px;
}

.story-item {
	margin-bottom: 28px;
}

.story-item h2 {
	color: #f44949;
	font-weight: 600;
	float: left;
	margin-right: 30px;
	line-height: 42px;
}

.story-item .si-text {
	overflow: hidden;
}

.story-item .si-text h4 {
	color: #171822;
	font-weight: 600;
	line-height: 36px;
	margin-bottom: 14px;
}

/*---------------------
  Testimonial Section
-----------------------*/

.testimonial-section {
	padding-bottom: 40px;
	overflow: hidden;
}

.testimonial-section .section-title {
	margin-bottom: 26px;
}

.testimonial-slider .col-lg-6 {
	max-width: 100%;
}

.testimonial-slider.owl-carousel .owl-stage-outer {
	padding-bottom: 60px;
	padding-top: 30px;
}

.testimonial-slider.owl-carousel .owl-nav button {
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
	color: #171822;
	background: #f4f6f8;
	border-radius: 50%;
	position: absolute;
	left: -66px;
	top: 50%;
	-webkit-transform: translateY(-40px);
	-ms-transform: translateY(-40px);
	transform: translateY(-40px);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.testimonial-slider.owl-carousel .owl-nav button:hover {
	background: -webkit-gradient(linear, left top, right top, from(#ee8425), to(#f9488b));
	background: -o-linear-gradient(left, #ee8425, #f9488b);
	background: linear-gradient(to right, #ee8425, #f9488b);
	color: #ffffff;
}

.testimonial-slider.owl-carousel .owl-nav button.owl-next {
	left: auto;
	right: -66px;
}

.testimonial-item {
	background: #ffffff;
	-webkit-box-shadow: 0px 6px 20px rgba(11, 12, 48, 0.15);
	box-shadow: 0px 6px 20px rgba(11, 12, 48, 0.15);
	border-radius: 4px;
	position: relative;
	padding: 40px 40px 15px 40px;
}

.testimonial-item .quote-pic {
	position: absolute;
	right: 50px;
	top: 50px;
}

.testimonial-item .ti-author {
	overflow: hidden;
	margin-bottom: 22px;
}

.testimonial-item .ti-author .ta-pic {
	float: left;
	margin-right: 20px;
}

.testimonial-item .ti-author .ta-pic img {
	height: 76px;
	width: 76px;
	border-radius: 50%;
}

.testimonial-item .ti-author .ta-text {
	overflow: hidden;
	padding-top: 12px;
}

.testimonial-item .ti-author .ta-text h5 {
	font-size: 20px;
	color: #171822;
	font-weight: 600;
	margin-bottom: 5px;
}

.testimonial-item .ti-author .ta-text span {
	display: block;
	color: #f44949;
}

.testimonial-item p {
	font-size: 20px;
	color: #171822;
	line-height: 32px;
	font-weight: 500;
}

/*---------------------
  Speaker Section
-----------------------*/

.speaker-section {
	padding-top: 0;
}

.speaker-item {
	margin-bottom: 50px;
}

.speaker-item .si-pic img {
	min-width: 100%;
	border-radius: 2px;
}

.speaker-item .si-text .si-title {
	margin-bottom: 28px;
}

.speaker-item .si-text .si-title h4 {
	color: #171822;
	font-weight: 600;
	margin-bottom: 13px;
}

.speaker-item .si-text .si-title span {
	color: #f44949;
	font-size: 16px;
	display: block;
}

.speaker-item .si-text .si-social {
	margin-bottom: 24px;
}

.speaker-item .si-text .si-social a {
	display: inline-block;
	font-size: 16px;
	color: #171822;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	background: #ebebeb;
	border-radius: 50%;
	margin-right: 5px;
}

.speaker-item .si-text .si-social a:hover {
	background: -o-linear-gradient(330deg, #ee8425, #f9488b);
	background: linear-gradient(120deg, #ee8425, #f9488b);
	color: #ffffff;
}

.speaker-item .si-text p {
	color: #707070;
	line-height: 26px;
}

.load-more {
	text-align: center;
	padding-top: 10px;
}

.load-more .primary-btn {
	padding: 12px 45px;
}

/*------------------------
  Schedule Table Section
-------------------------*/

.schedule-table-section {
	padding-top: 0;
}

.schedule-table-tab .nav-tabs {
	border: none;
	border-radius: 4px;
	margin-bottom: 50px;
	-webkit-box-shadow: 3px 10px 30px rgba(74, 74, 77, 0.15);
	box-shadow: 3px 10px 30px rgba(74, 74, 77, 0.15);
}

.schedule-table-tab .nav-tabs .nav-item {
	border-right: 1px solid #e7e7e8;
	width: 20%;
	text-align: center;
}

.schedule-table-tab .nav-tabs .nav-item:last-child {
	border-right: none;
}

.schedule-table-tab .nav-tabs .nav-item .nav-link {
	padding: 22px 0;
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	color: #171822;
}

.schedule-table-tab .nav-tabs .nav-item .nav-link.active {
	border-color: #e7e7e8;
	color: #ffffff;
}

.schedule-table-tab .schedule-table-content table {
	width: 100%;
	text-align: center;
	border: 1px solid #e1e1e1;
}

.schedule-table-tab .schedule-table-content table thead {
	border-bottom: 1px solid #e5e5e5;
}

.schedule-table-tab .schedule-table-content table thead tr th {
	border-right: 1px solid #e5e5e5;
	padding: 24px 0 26px;
}

.schedule-table-tab .schedule-table-content table thead tr th strong {
	font-size: 24px;
	color: #171822;
	font-weight: 600;
	margin-bottom: 8px;
}

.schedule-table-tab .schedule-table-content table thead tr th span {
	color: #f5523b;
	font-size: 16px;
	display: block;
	font-weight: 400;
}

.schedule-table-tab .schedule-table-content table tbody tr {
	border-bottom: 1px solid #e5e5e5;
}

.schedule-table-tab .schedule-table-content table tbody tr td {
	border-right: 1px solid #e5e5e5;
	width: 260px;
	height: 134px;
	padding: 37px 0 36px;
}

.schedule-table-tab .schedule-table-content table tbody tr td h5 {
	color: #171822;
	font-weight: 600;
	margin-bottom: 10px;
}

.schedule-table-tab .schedule-table-content table tbody tr td p {
	color: #171822;
	margin-bottom: 0;
}

.schedule-table-tab .schedule-table-content table tbody tr td p span {
	color: #a0a1b5;
}

.schedule-table-tab .schedule-table-content table tbody tr td.event-time {
	width: 140px;
	color: #f44949;
	font-size: 24px;
	font-weight: 600;
}

.schedule-table-tab .schedule-table-content table tbody tr td.break h5 {
	margin-bottom: 0;
}

.schedule-table-tab .schedule-table-content table tbody tr td.hover-bg:hover {
	background: -o-linear-gradient(330deg, #ee8425, #f9488b);
	background: linear-gradient(120deg, #ee8425, #f9488b);
}

.schedule-table-tab .schedule-table-content table tbody tr td.hover-bg:hover h5 {
	color: #ffffff;
}

.schedule-table-tab .schedule-table-content table tbody tr td.hover-bg:hover p {
	color: #ffffff;
}

.schedule-table-tab .schedule-table-content table tbody tr td.hover-bg:hover p span {
	color: #ffffff;
}

/*---------------------
  Blog
-----------------------*/

.blog-section {
	padding-top: 0;
}

.blog-item {
	height: 277px;
	position: relative;
	border-radius: 10px;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 0px 30px rgba(11, 12, 48, 0.15);
	box-shadow: 0px 0px 30px rgba(11, 12, 48, 0.15);
}

.blog-item .bi-tag {
	font-size: 12px;
	font-weight: 600;
	color: #ffffff;
	display: inline-block;
	padding: 3px 20px 5px;
	border-radius: 2px;
	position: absolute;
	left: 20px;
	top: 20px;
}

.blog-item.large-item {
	height: 575px;
}

.blog-item.large-item .bi-tag {
	left: 30px;
	top: 30px;
}

.blog-item.large-item .bi-text {
	padding: 0 30px;
	bottom: 28px;
}

.blog-item .bi-text {
	position: absolute;
	left: 0;
	bottom: 18px;
	width: 100%;
	padding: 0 20px;
}

.blog-item .bi-text h5 {
	margin-bottom: 10px;
}

.blog-item .bi-text h5 a {
	color: #ffffff;
	line-height: 24px;
	font-weight: 600;
	display: block;
}

.blog-item .bi-text h3 {
	margin-bottom: 15px;
}

.blog-item .bi-text h3 a {
	font-size: 28px;
	color: #ffffff;
	font-weight: 600;
	line-height: 36px;
	display: block;
}

.blog-item .bi-text span {
	font-size: 14px;
	color: #ffffff;
	display: block;
}

.blog-item .bi-text span i {
	color: #f44949;
}

.load-more.blog-more {
	padding-top: 20px;
}

/*---------------------
  Blog Hero Section
-----------------------*/

.blog-hero-section {
	padding: 200px 0;
}

.bh-text {
	text-align: center;
}

.bh-text .play-btn {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	line-height: 79px;
}

.bh-text .play-btn i {
	color: #ffffff;
	font-size: 28px;
	margin-left: 6px;
}

.bh-text h2 {
	color: #ffffff;
	font-size: 60px;
	font-weight: 700;
	margin-top: 34px;
	margin-bottom: 14px;
}

.bh-text ul li {
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 2px;
	list-style: none;
	display: inline-block;
	margin-right: 45px;
	position: relative;
}

.bh-text ul li:after {
	position: absolute;
	right: -22px;
	top: 4px;
	height: 14px;
	width: 1px;
	background: #6e6e6e;
	content: "";
}

.bh-text ul li:last-child {
	margin-right: 0;
}

.bh-text ul li:last-child:after {
	display: none;
}

.bh-text ul li span {
	font-size: 16px;
	text-transform: capitalize;
}

.bh-text ul li span strong {
	font-weight: 600;
}

/*---------------------
  Blog Details Section
-----------------------*/

.blog-details-section {
	padding-top: 70px;
}

.bd-text .bd-title {
	margin-bottom: 28px;
}

.bd-text .bd-quote {
	position: relative;
	padding-left: 32px;
	margin-bottom: 36px;
}

.bd-text .bd-quote:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 4px;
	height: 100%;
	background: #f44949;
	content: "";
}

.bd-text .bd-quote p {
	font-size: 18px;
	color: #171822;
	font-weight: 500;
	line-height: 30px;
}

.bd-text .bd-quote span {
	font-size: 14px;
	color: #f44949;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
}

.bd-text .bd-quote img {
	position: absolute;
	right: 0;
	bottom: 0;
}

.bd-text .bd-more-text {
	margin-bottom: 32px;
}

.bd-text .bd-more-text.second-text {
	margin-bottom: 56px;
}

.bd-text .bd-more-text h4 {
	color: #171822;
	font-weight: 600;
	margin-bottom: 22px;
}

.bd-text .bd-more-pic {
	margin-bottom: 36px;
}

.bd-text .bd-more-pic img {
	min-width: 100%;
	border-radius: 2px;
}

.bd-text .bd-tag-share {
	overflow: hidden;
	border-top: 1px solid #e5e5e5;
	padding-top: 20px;
}

.bd-text .bd-tag-share .tag {
	float: left;
	margin-top: 7px;
}

.bd-text .bd-tag-share .tag a {
	display: inline-block;
	font-size: 14px;
	background: #ebebeb;
	color: #6a6b7c;
	padding: 2px 17px 4px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 2px;
	margin-right: 6px;
	margin-bottom: 5px;
}

.bd-text .bd-tag-share .tag a:hover {
	background: #f44949;
	color: #ffffff;
}

.bd-text .bd-tag-share .s-share {
	float: right;
}

.bd-text .bd-tag-share .s-share span {
	display: inline-block;
	color: #171822;
	font-size: 16px;
	margin-right: 12px;
}

.bd-text .bd-tag-share .s-share a {
	display: inline-block;
	font-size: 16px;
	color: #171822;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background: #ebebeb;
	margin-left: 11px;
	border-radius: 50%;
}

.bd-text .bd-tag-share .s-share a:hover {
	color: #ffffff;
}

/*---------------------
  Comment Section
-----------------------*/

.comment-section h3 {
	color: #171822;
	font-weight: 600;
}

.comment-form input {
	width: 100%;
	height: 46px;
	background: #f4f6f8;
	padding-left: 20px;
	padding-right: 5px;
	border: none;
	margin-bottom: 30px;
	border-radius: 2px;
	border: 1px solid transparent;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.comment-form input::-webkit-input-placeholder {
	color: #a0a1b5;
}

.comment-form input::-moz-placeholder {
	color: #a0a1b5;
}

.comment-form input:-ms-input-placeholder {
	color: #a0a1b5;
}

.comment-form input::-ms-input-placeholder {
	color: #a0a1b5;
}

.comment-form input::placeholder {
	color: #a0a1b5;
}

.comment-form input:focus {
	border: 1px solid #f44949;
	color: #171822;
}

.comment-form textarea {
	width: 100%;
	height: 120px;
	background: #f4f6f8;
	padding-left: 20px;
	border: none;
	padding-top: 12px;
	padding-right: 5px;
	margin-bottom: 32px;
	border-radius: 2px;
	border: 1px solid transparent;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	resize: none;
}

.comment-form textarea::-webkit-input-placeholder {
	color: #a0a1b5;
}

.comment-form textarea::-moz-placeholder {
	color: #a0a1b5;
}

.comment-form textarea:-ms-input-placeholder {
	color: #a0a1b5;
}

.comment-form textarea::-ms-input-placeholder {
	color: #a0a1b5;
}

.comment-form textarea::placeholder {
	color: #a0a1b5;
}

.comment-form textarea:focus {
	border: 1px solid #f44949;
	color: #171822;
}

/*---------------------
  Related Post Section
-----------------------*/

.related-post-section {
	background: #f4f6f8;
	padding-bottom: 70px;
	padding-top: 90px;
}

.related-post-section .blog-item {
	height: 350px;
}

.related-post-section .blog-item .bi-tag {
	left: 30px;
	top: 30px;
}

.related-post-section .blog-item .bi-text {
	padding: 0 30px;
	bottom: 28px;
}

.related-post-section .blog-item .bi-text h5 {
	margin-bottom: 10px;
}

.related-post-section .blog-item .bi-text h5 a {
	font-size: 20px;
	line-height: 30px;
}

/*---------------------
  Contact Top Content
-----------------------*/

.contact-content-section {
	overflow: hidden;
}

.cc-text {
	height: 580px;
	margin-left: -15px;
	margin-right: -15px;
	padding-top: 94px;
}

.cc-text .section-title {
	text-align: left;
	margin-bottom: 42px;
}

.cc-text .section-title h2 {
	color: #ffffff;
}

.cc-text .section-title p {
	color: #ffffff;
}

.cc-text .cs-text .ct-address span {
	color: #ffffff;
}

.cc-text .cs-text .ct-address p {
	color: #ffffff;
}

.cc-text .cs-text ul li {
	color: #ffffff;
}

.cc-text .cs-text ul li span {
	color: #ffffff;
}

.cc-text .cs-text .ct-links span {
	color: #ffffff;
}

.cc-text .cs-text .ct-links p {
	color: #ffffff;
}

.cc-map {
	height: 580px;
	margin-left: -15px;
	margin-right: -15px;
	position: relative;
}

.cc-map iframe {
	width: 100%;
}

.cc-map .map-hover {
	position: absolute;
	left: 50%;
	top: 260px;
	-webkit-transform: translateX(-132px);
	-ms-transform: translateX(-132px);
	transform: translateX(-132px);
}

.cc-map .map-hover i {
	font-size: 30px;
	color: #f44949;
	position: absolute;
	left: 50%;
	top: -55px;
	-webkit-transform: translateX(-9px);
	-ms-transform: translateX(-9px);
	transform: translateX(-9px);
}

.cc-map .map-hover .map-hover-inner {
	width: 264px;
	text-align: center;
	background: #ffffff;
	padding: 27px 0 11px;
	-webkit-box-shadow: 0px 0px 30px rgba(74, 101, 106, 0.2);
	box-shadow: 0px 0px 30px rgba(74, 101, 106, 0.2);
}

.cc-map .map-hover .map-hover-inner:after {
	position: absolute;
	left: 50%;
	top: -6px;
	width: 30px;
	height: 30px;
	background: #ffffff;
	content: "";
	-webkit-transform: translateX(-15px) rotate(45deg);
	-ms-transform: translateX(-15px) rotate(45deg);
	transform: translateX(-15px) rotate(45deg);
}

.cc-map .map-hover .map-hover-inner h5 {
	color: #171822;
	font-weight: 600;
	margin-bottom: 7px;
}

.cc-map .map-hover .map-hover-inner p {
	color: #171822;
}

/*---------------------
  Contact Form
-----------------------*/

.comment-form.contact-form input {
	margin-bottom: 25px;
}

.comment-form.contact-form textarea {
	height: 150px;
	margin-bottom: 42px;
}

/*-------------------------------- Respinsive Media Styles --------------------------------*/

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/* Medium Device: 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.nav-menu .mainmenu ul li {
		margin-right: 25px;
	}
	.hero-section .hero-text {
		padding-top: 110px;
	}
	.counter-section .cd-timer .cd-item {
		margin-left: 25px;
	}
	.ha-text {
		padding-top: 0;
	}
	.member-item {
		width: 25%;
		height: 310px;
	}
	.testimonial-slider.owl-carousel .owl-nav button {
		left: -10px;
	}
	.testimonial-slider.owl-carousel .owl-nav button.owl-next {
		right: -10px;
	}
	.newslatter-inner .ni-form {
		width: 350px;
	}
	.cc-text {
		padding-top: 65px;
	}
}

@media only screen and (max-width: 991px) {
	.schedule-tab .st-content .sc-pic {
		text-align: left;
		padding: 30px 0 0;
	}
	.schedule-tab .st-content .sc-text {
		padding: 30px 0 0;
	}
	.schedule-tab .st-content .sc-widget {
		padding: 30px 0;
	}
	.schedule-tab .st-content {
		padding-left: 30px;
	}
	.price-item.top-rated {
		margin-top: 0;
	}
	.latest-item.large-item {
		height: 550px;
		margin-right: 0;
		margin-left: 0;
	}
	.latest-item {
		margin-left: 0;
	}
	.cs-map {
		margin-top: 20px;
	}
	.about-text {
		margin-top: 30px;
	}
	.story-right {
		padding-left: 0;
	}
	.newslatter-inner .ni-text {
		float: none;
	}
	.newslatter-inner .ni-form {
		float: none;
		margin-top: 30px;
	}
	.testimonial-slider.owl-carousel .owl-nav button {
		left: -10px;
	}
	.testimonial-slider.owl-carousel .owl-nav button.owl-next {
		right: -10px;
	}
	.counter-section .counter-text {
		margin-bottom: 30px;
	}
	.counter-section .cd-timer {
		text-align: left;
	}
	.speaker-item .si-text .si-title {
		padding-top: 30px;
	}
	.bd-text .bd-more-pic img {
		margin-bottom: 10px;
	}
	.cc-text {
		padding-left: 40px;
	}
	.ha-pic {
		margin-right: 0;
	}
	.hero-section .hero-text {
		margin-bottom: 20px;
	}
}

/* Tablet Device: 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.nav-menu .primary-btn.top-btn {
		display: none;
	}
	.nav-menu .mainmenu ul li {
		margin-right: 20px;
	}
	.bh-text h2 {
		font-size: 45px;
	}
	.nav-menu .mainmenu ul li:last-child {
		margin-right: 0;
	}
	.hero-section .hero-text {
		margin-bottom: 20px;
	}
	.member-item {
		width: 33.33%;
	}
}

/* Large Mobile: 480px */

@media only screen and (max-width: 767px) {
	.counter-section .cd-timer .cd-item {
		margin-bottom: 10px;
	}
	.member-item {
		width: 50%;
	}
	.newslatter-inner {
		padding: 60px 50px 48px;
	}
	.newslatter-inner .ni-form {
		width: 350px;
	}
	.footer-text ul li {
		margin-right: 15px;
	}
	.schedule-table-tab .schedule-table-content {
		overflow-x: auto;
	}
	.schedule-table-tab .nav-tabs .nav-item {
		width: 33.33%;
	}
	.bd-text .bd-tag-share .tag {
		float: none;
		margin-top: 0;
		margin-bottom: 25px;
	}
	.bd-text .bd-tag-share .s-share {
		float: none;
	}
	.slicknav_menu {
		display: block;
		background: transparent;
		padding: 0;
	}
	.nav-menu .mainmenu {
		display: none;
	}
	.nav-menu .primary-btn.top-btn {
		display: none;
	}
	.slicknav_btn {
		margin: 34px 0;
		border-radius: 0;
	}
	.slicknav_nav {
		background: #222;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		margin: 0;
		padding: 10px 20px;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
	.slicknav_nav ul {
		margin: 0;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		background: #f44949;
		color: #ffffff;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: #f44949;
		color: #ffffff;
	}
	.member-item .mi-text {
		left: -1000px;
	}
	.bh-text h2,
	.hero-section .hero-text h2 {
		font-size: 40px;
		line-height: normal;
	}
	.counter-section .cd-timer .cd-item {
		margin-right: 10px;
		margin-left: 0;
	}
	.counter-section .cd-timer .cd-item:last-child {
		margin-right: 0;
	}
	.testimonial-slider.owl-carousel {
		text-align: center;
	}
	.testimonial-slider.owl-carousel .owl-nav button {
		margin-top: 10px;
		position: relative;
	}
}

/* Small Mobile: 320px */

@media only screen and (max-width: 479px) {
	.bh-text h2,
	.hero-section .hero-text h2 {
		font-size: 36px;
		line-height: normal;
	}
	.newslatter-inner {
		padding: 60px 20px 48px;
	}
	.counter-section .cd-timer .cd-item {
		margin-right: 10px;
		margin-left: 0;
	}
	.schedule-tab .nav-tabs .nav-item {
		width: 33.33%;
	}
	.member-item {
		width: 100%;
	}
	.newslatter-inner .ni-form {
		width: 100%;
	}
	.newslatter-inner .ni-form button {
		width: 95px;
	}
	.newslatter-inner .ni-form input {
		padding-right: 100px;
	}
	.footer-text ul li {
		margin-bottom: 10px;
	}
	.schedule-table-tab .nav-tabs .nav-item {
		width: 50%;
	}
	.cc-text {
		padding-left: 30px;
		padding-top: 35px;
	}
	.story-item h2 {
		float: none;
		margin-bottom: 10px;
	}
	.bd-text .bd-tag-share .s-share a {
		font-size: 14px;
		height: 35px;
		width: 35px;
		line-height: 35px;
		margin-left: 5px;
	}
}